* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background-color: #424242;
    
}


.navbar {
    background-color: #215889;
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navbar_items {
    display: flex;
    list-style: none;
    gap: 5rem;
  }

  span {
    color: white;
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }

  .icons {
    width: 30px;
  }

  .logo {
    color: white;
    position: fixed;
    text-decoration: none;
    font-size: 28px;
    left: 20px;
  }


  main {
    height: 83vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    align-items: center;
    gap: 1rem;
  }

  .window {
    width: 850px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
  }

  .title {
    margin: 0;
    color: white;
    letter-spacing: 5px;
  }


/* starting player */

  .player {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1.3rem;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vol {
    font-size: 12px;
    color: white;
}

.timer {
    color: white;
    font-size: 22px;
}

.play {
    color: white;
    font-size: 32px;
}

.play-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.volume-slider {
    width: 100px;
    margin: 0 10px;
}

.timer {
    margin-left: auto;
}

  footer {
    background-color: #215889;
    height: 70px;
  }


  @media (max-width: 844px) {



    .navbar {
        background-color: #215889;
        /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0px 0px 11px 3px #000000;
      }
    
      .navbar_items {
        display: flex;
        list-style: none;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    
      span {
        color: white;
        text-align: center;
      }
    
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
      }
    
      .icons {
        width: 30px;
      }
    
      .logo {
        color: white;
        position: fixed;
        text-decoration: none;
        font-size: 28px;
        left: 20px;
        display: none;
      }
    
    
      main {
        height: 83vh;
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin: 0;
        align-items: center;
      }
    
      .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 1rem;
      }
    
      .window {
        width: 850px;
        height: 560px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
      }
    
      .title {
        margin: 0;
        color: white;
        letter-spacing: 5px;
      }
    
    
    /* starting player */
    
      .player {
        bottom: 30%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 1.3rem;
        border: 1px solid white;
        border-radius: 30px;
        padding: 10px;
    }
    
    .volume {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .vol {
        font-size: 12px;
        color: white;
    }
    
    .timer {
        color: white;
        font-size: 22px;
    }
    
    .play {
        color: white;
        font-size: 32px;
    }
    
    .play-button {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .volume-slider {
        width: 100px;
        margin: 0 10px;
    }
    
    .timer {
        margin-left: auto;
    }
    
      footer {
        background-color: #215889;
        height: 70px;
      }
  }